@font-face {
  font-family: "DM Sans";
  src: url(../fonts/DMSans-Regular.ttf),
       url(../fonts/DMSans-Bold.ttf);
}

html {
  font-size: 100%;
}

body {
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  color: #1d1e26;
}

.wrapper {
  width: 100%;
}

/* Headings Styles */
h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  color: white;
  margin-top: 2rem;
}

h2,
h3 {
  color: #5687a6;
}

h2 {
  font-size: 2rem;
  margin: 2rem 0 2rem;
  
}

h3 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

p {
  line-height: 1.5;
}

.explainer {
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

aside {
  background-color: #5687a6;
}

header {
  margin-bottom: 1rem;
  padding-top: 2rem;
  text-align: center;
}

img[alt="Logo"] {
  width: 20%;
}

 /* Navigation Styles */
 nav ul {
  font-size: 1.2rem;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

nav ul li {
  padding: 1rem;
  margin: 0 auto;
}

nav a {
  color: white;
  text-decoration: none;
  transition: all, 500ms;
}

nav a:focus, nav a:hover, nav a:active {
  color: #adc8da9c;
}

nav a:focus {
  outline: none;
}

.socials {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.socials p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #cee0eb;
}

.fa-envelope, .fa-facebook-f, .fa-instagram {
  margin: 0 1rem;
  transition: all 500ms;
}

.fa-envelope:hover, .fa-facebook-f:hover, .fa-instagram:hover {
  color: #adc8da9c;
}

  /* Primary Content */
  section {
    width: 80%;
    margin: 0 auto;
  }

  article ul {
    list-style-type: circle;
    list-style-position: inside;
    line-height: 1.5;
    margin-top: 2rem;
  }

  footer {
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
    color: #1d1e2693;
    border-top: solid 1px #adc8da9c;
  }

  .gallery {
    position: relative;
    margin-bottom: 1rem;
  }

  .gallery img {
    width: 20%;
  }

  @media(min-width:650px) and (max-width:950px) {
    .wrapper {
      display: grid;
      grid-template-columns: 30% auto;
      grid-template-rows: 100% 100%;
    }
  }

  @media(min-width:951px) {
    .wrapper {
      display: grid;
      grid-template-columns: 20% auto;
      grid-template-rows: 100% 100%;
    }

    article {
      width: 60%;
      margin: 0 2rem 4rem 0;
      float: left;
    }

    footer {
      clear: both;
    }
  }